/* GENERAL RULES */
:root {
  font-family: "Open Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGES COMPONENTS CSS */
/* HEADER (Header.jsx) */
header {
  background-color: rgba(248, 249, 250, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 50px;
  padding: 20px;
}

header div {
  margin-bottom: 10px;
}

header a {
  padding: 0 60px 0 60px;
  text-decoration: none;
  color: black;
  position: relative;
}

header a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: blue;
}

/* PAGES CSS */
/* <main> RULES */
main {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* <button> RULES */
button {
  background-color: rgba(13, 110, 253, 255);
  border: solid 1px lightgray;
  color: white;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

/* HomePage.jsx */

/* BlogPosts.jsx */
.post-container {
  border: solid 1px lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

/* AboutUs.jsx */